:root {
    --dark-purple: #363062;
    --light-purple: #4D4C7D;
    --orange: #EA906C;
    --light-grey: #F5F5F5;
    --dark-grey: #B9B4C7;
    --red: #C70039;
}
* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
}
.buttons {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dark-purple);
    /* gap: 2px; */
}
.buttons button {
    width: 25%;
    height: 70px;
    font-size: 1.4rem;
    border-radius: 10px;
    background: var(--light-purple);
    color: var(--light-grey);
    border: 2px solid var(--dark-grey);
}
.buttons .operator {
    background: var(--orange);
    color: var(--dark-purple);
}
.buttons .del {
    background: var(--dark-grey);
    color: var(--dark-purple);
}
.buttons .clr {
    background: var(--red);
}
.buttons .operator, .buttons .del, .buttons .clr {
    border: 2px solid var(--light-grey);
}
.buttons button:hover {
    filter: brightness(90%);
}
.buttons button:active {
    filter: brightness(85%);
}
.buttons button.btn-0 {
    width: 50%;
}
.calculator {
    border: 15px solid var(--dark-purple);
    border-radius: 10px;
    margin: 3rem 0 0;
}
.display {
    height: 150px;
    background-color: var(--dark-grey);
    border-bottom: 15px solid var(--dark-purple);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.display .operand-1 {

}