@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
:root {
    --dark-purple: #363062;
    --light-purple: #4D4C7D;
    --orange: #EA906C;
    --light-grey: #F1EFEF;
    --dark-grey: #B9B4C7;
    --red: #C70039;
    --black: #0F0F0F;
}
* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    background-color: var(--light-grey);
    font-family: 'Inter', sans-serif;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
}
.buttons button {
    padding: 20px;
    width: 25%;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 10px;
    background: var(--light-purple);
    color: var(--light-grey);
    border: 2px solid var(--black);
}
.buttons .operator {
    background: var(--orange);
    color: var(--dark-purple);
}
.buttons .del {
    background: var(--dark-grey);
    color: var(--dark-purple);
}
.buttons .clr {
    background: var(--red);
}
.buttons button:hover {
    filter: brightness(90%);
}
.buttons button:active {
    filter: brightness(85%);
}
.buttons button.btn-0 {
    width: 50%;
}
.buttons button.btn-eq {
    background: var(--light-grey);
    color: var(--dark-purple);
}
.calculator {
    width: 400px;
    padding: 15px;
    border: 5px solid var(--black);
    background-color: var(--dark-purple);
    border-radius: 10px;
    margin: 5rem 0 0;
    box-shadow: 5px 5px 15px var(--black);
}
.display {
    height: 150px;
    background-color: var(--dark-grey);
    margin-bottom: 15px;
    border: 2px solid var(--black);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-x: auto;
}
.display > * {
    text-indent: 20px;
    color: var(--dark-purple);
    text-shadow: 0 2px 2px var(--light-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.display .main-display {
    height: 45%;
    font-size: 3rem;
}
.display .secondary-display {
    height: 35%;
    font-size: 2rem;
}
.display .operator-display {
    height: 20%;
    font-size: 1.5rem;
}